* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1d1d1d;
  color: white;
  background: url(/bgImage.png) no-repeat center center;
  background-size: cover;
}

