.categoriesContainer {
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.categoryCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: black;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    img {
      opacity: 0.5;
    }

    span {
      opacity: 1;
      transform: translateY(0);
    }
  }

  img {
    width: 100%;
    max-width: 280px;
    height: 250px;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }

  span {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .categoriesContainer {
    padding: 1rem;

    h1 {
      font-size: 2rem;
    }

    .categoryCard {
      img {
        height: 200px;
        width: 300px;
      }

      span {
        font-size: 1.2rem;
        opacity: 1;
        transform: translateY(0); 
      }

      &:hover {
        transform: none;
        box-shadow: none;

        img {
          opacity: 1;
        }

        span {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .categoriesContainer {
    h1 {
      font-size: 1.8rem;
    }

    .categories {
      gap: 0.8rem;
    }

    .categoryCard {
      border: 1px solid #afafaf;

      img {
        height: 150px;
      }

      span {
        font-size: 1rem;
        opacity: 1;
        transform: translateY(0);
        background-color: rgba(0, 0, 0, 0.555);
        width: 100%;
        height: 50px;
        text-align: center;
        padding: 1rem;
        bottom: 0rem;
        left: 0rem;
      }

      &:hover {
        transform: none;
        box-shadow: none;

        img {
          opacity: 1; 
        }

        span {
          opacity: 1; 
          transform: translateY(0);
        }
      }
    }
  }
}
