* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #0c0c0c;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  body {
    background: url(/bgImage.png) no-repeat center center;
    background-size: cover;
  }
  
}